# .gitignore
# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore go build artifacts
*.log
*.tmp

# ignore IDE files
.idea/
.vscode/

# ignore python build artifacts
__pycache__/
*.pyc

# ignore other stuff
*.swp
*.suo
*.ntvs*
*.log
*.tmp
.DS_Store