# .gitignore
# ignore go files
*.go

# ignore vendor directory
vendor/

# ignore node_modules directory
node_modules/

# ignore pycache directory
__pycache__/

# ignore egg files
*.egg

# ignore log files
*.log

# ignore coverage files
coverage.xml
coverage.html

# ignore cache files
.cache
.cache/*